<div class="sidebar-detached sidebar-left">
  <div class="sidebar">
    <div class="bug-list-sidebar-content">
      <!-- Predefined Views -->
      <div class="card">
        <!-- bug-list search -->
        <div class="card-content">
          <!-- bug-list view -->
          <div class="card-body ">
            <div class="list-group">
              <a routerLink="/Notification" class="list-group-item list-group-item-action">Merchant Status</a>
              <a routerLink="/Product-Status-Notification" class="list-group-item list-group-item-action">Product Status</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>