<div id="login">
  <h5 class="text-center text-black pt-5">Pick Your Groceries Admin Dashboard</h5>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" (submit)="loggedin()">
                    <img src="assets/logo.png" alt="PickYourGroceries logo">
                      <!-- <h3 class="text-center text-info">Login</h3> -->
                      <div class="form-group">
                          <label for="username" class="text-info"><span><i class="fa fa-user"></i> </span> Username:</label><br>
                          <input type="email" name="username" id="username" class="form-control" [(ngModel)]="logging.admin_email" required>
                      </div>
                      <div class="form-group">
                          <label for="password" class="text-info"><span><i class="fa fa-lock"></i> </span> Password:</label><br>
                          <input type="password" name="password" id="password" class="form-control" [(ngModel)]="logging.admin_password" required>
                      </div>
                      <div class="form-group">
                        <div class="md-checkbox">
                            <input id="i2" type="checkbox">
                            <label for="i2"><a>Remember Me</a> </label><br>
                            <!-- <p><a routerLink="/Dashboard">Remember Me</a></p>  -->
                          </div>
                         <button type="submit" class="btn btn-info btn-lg btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>