body {
    margin: 0;
    padding: 0;
    background-color: #F4F5FA;
  }
  #login{
      background: #F4F5FA;
      height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    max-width: 600px;
    height: auto;
    /* border: 1px solid #9C9C9C; */
    background-color: #FFF;
    box-shadow:0 10px 18px 0 rgba(62,57,107,.2);
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  .form img{
      width:130px;
      height:auto;
      margin: 0 auto;
      display: block;
  }
  .text-info {
    color: #000000!important;
}
input:focus {
  background-color: white;
  border: 1px solid #17a2b8;
  box-shadow: 0 0px 25px 3px rgba(62, 57, 107, 0.1);
}

