<div class="sidebar-detached sidebar-left">
  <div class="sidebar">
    <div class="bug-list-sidebar-content">
      <!-- Predefined Views -->
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Sales Report</h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
        </div>
        <!-- bug-list search -->
        <div class="card-content">
          <!-- bug-list view -->
          <div class="card-body ">
            <div class="list-group">
              <a routerLink="/Get-All-orders-of-Individual-Merchant" class="list-group-item list-group-item-action">All Orders</a>
              <a routerLink="/Get-Completed-orders-of-Individual-Merchant" class="list-group-item list-group-item-action">Orders Completed</a>
              <a routerLink="/Get-Canceled-orders-of-Individual-Merchant" class="list-group-item list-group-item-action active">Cancelled Orders</a>
              <a routerLink="/Get-Inprogress-orders-of-Individual-Merchant" class="list-group-item list-group-item-action">Order In-Progress</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>